:root {
  --link-font-family: "Roboto";
  --link-color: #fff;
  --link-active-color: #2196f3;
  --link-second-color: #7575;
  --link-third-color: #212121;
  --link-another-color: #757575;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--link-font-family), sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--link-third-color);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  transition: color var(--transition);
}

.container {
  width: 1600px;
  align-items: center;
}

/* Header and Navigation Styles */
header a.navigation-menu:hover,
header .header-contact:hover {
  color: var(--link-active-color);
}
.global-header {
  padding: 0px 215px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--link-font-family);
}

.global-header div.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.global-header a.logo-black {
  color: #000;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
  margin-right: 68px;
  padding-top: 24px;
  padding-bottom: 25px;
}
span.logo {
  color: #2196f3;
}

.global-header ul {
  list-style: none;
  padding: 0px;
}
header li {
  display: inline-block;
  padding: 0px 25px;
}
.global-header a.navigation-menu {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.global-header a.active {
  color: var(--link-active-color);
}

.global-header address {
  display: flex;
  align-items: center;
}
header a.header-contact {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  margin-left: 40px;
  align-items: center;
}
header svg.icon-envelope {
  width: 16px;
  height: 11.996px;
  flex-shrink: 0;
}

header svg.icon-smartphone {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
}
.button-open {
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.875;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition), color var(--transition);
}

.button-open:hover,
.button-open:focus {
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  height: 600px;
  flex-shrink: 0;
  width: 1600px;
}
.hero-title {
  display: flex;
  justify-content: center;
  color: var(--link-color);
  text-align: center;
  font-size: 2.75em;
  font-family: var(--link-font-family);
  font-weight: 900;
  line-height: 3.75em;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  top: 12.5em;
}

.container .hero-section {
  background-color: #333;
  width: auto;
  background: rgba(47, 48, 58, 0.4);
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Main Section Styles */
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin: 0;
  text-align: center;
  flex-shrink: 0;
  padding-top: 119px;
}
.column {
  width: 270px;
  height: 120px;
}
.main-section h3 {
  display: flex;
  text-align: left;
  color: var(--link-third-color);
  font-size: 14px;
  font-family: var(--link-font-family);
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
  padding-top: 30px;
}

.main-section p {
  display: flex;
  text-align: left;
  color: var(--link-another-color);
  font-size: 14px;
  font-family: var(--link-font-family);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.42px;
  gap: 30px;
  width: 270px;
  height: 75px;
  flex-shrink: 0;
  padding-top: 10px;
}

/* Second Section Styles */
.second-section {
  padding-bottom: 94px;
}
.title {
  color: var(--link-third-color);
  font-size: 2.25em;
  font-family: var(--link-font-family);
  font-weight: 700;
  letter-spacing: 0.0675em;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}
.image {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 30px;
}
.images {
  display: block;
}
.wwdparent {
  position: relative;
}
.wwdtxt {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.wwdchild {
  width: 100%;
  height: 70px;
  background: rgba(57, 57, 57, 0.8);
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Third Section Styles */
.third-section {
  background: #f5f4fa;
  width: 1600px;
  height: 708px;
  flex-shrink: 0;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.third-section ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
  gap: 30px;
}

.third-section h3 {
  color: var(--link-third-color);
  text-align: center;
  font-size: 1em;
  font-family: var(--link-font-family);
  font-weight: 500;
  letter-spacing: 0.03em;
  padding-top: 20px;
}
.third-section p {
  color: var(--link-another-color);
  text-align: center;
  font-size: 1em;
  font-family: var(--link-font-family);
  letter-spacing: 0.03em;
  padding-top: 20px;
}

.team-img {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
}

.last-title {
  display: flex;
  justify-content: center;
  color: var(--link-third-color);
  font-size: 2.25em;
  font-family: var(--link-font-family);
  font-weight: 700;
  letter-spacing: 0.0675em;
  padding-top: 94px;
  padding-bottom: 50px;
}

.team-presentation {
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  border-bottom-left-radius: 10px 5px;
  border-bottom-right-radius: 5px 5px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-weight: 500;
}
/*customers section*/

main div.customers {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 94px;
  gap: 30px;
}
main svg.customers {
  color: #afb1b8;
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  margin: 0px;
  fill: var(--link-another-color);
}
.customers h2 {
  text-align: center;
  font-family: var(--link-font-family);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.customers h2 {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  padding-bottom: 50px;
}
/* Footer Styles */
.footer {
  background-color: #2f303a;
  color: #fff;
  height: 251px;
}
.footer {
  display: flex;
  justify-content: center;
}
.contact-class {
  flex: 1;
  margin: 0px;
}
address.contact-class {
  display: flex;
  flex-direction: column;
  padding-left: 215px;
  padding-top: 60px;
}
div.contact-class {
  padding-top: 85px;
  padding-right: 900px;
}
.social-media {
  padding-bottom: 12px;
}
.social-media-footer {
  float: left;
}
footer a.logo-white {
  display: flex;
  flex-direction: row;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-decoration: none;
  margin-bottom: 28px;
}

footer span.logo-label {
  color: var(--link-active-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-class {
  color: var(--link-color);
  font-size: 16px;
  font-family: var(--link-font-family);
  line-height: 16.41px;
  letter-spacing: 0.02625em;
  text-decoration: none;
  width: 270px;
  height: 16px;
  flex-shrink: 0;
  margin-bottom: 12px;
}

a.mail,
a.phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-family: var(--link-font-family);
  line-height: 16px;
  letter-spacing: 0.02625em;
  text-decoration: none;
  width: 231px;
  height: 16px;
  flex-shrink: 0;
  margin-bottom: 12px;
}

/* icon */
/* Social Media Icons Styles */
.social-media-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding-top: 20px;
  margin: 0;
}

div.team-media {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-media svg {
  fill: #afb1b8;
  transition: var(--transition);
}
.team-media:hover,
.team-media:focus {
  background-color: var(--link-active-color);
}
.team-media:hover {
  fill: var(--link-color);
}
.team-media:focus {
  fill: var(--link-color);
}
svg.column-class {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
}
svg.column-class {
  padding-left: 100px;
}

.icon-smartphone:hover {
  stroke: #2196f3;
}
.icon-envelope:hover {
  stroke: var(--link-active-color);
}
svg.customers:hover,
svg.icon-Logo1:hover,
svg.icon-Logo2:hover,
svg.icon-Logo3:hover,
svg.icon-Logo4:hover,
svg.icon-Logo5:hover,
svg.icon-Logo6:hover {
  color: #afb1b8;
  fill: var(--link-active-color);
  border: 1px solid var(--link-active-color);
}

.social-media-footer {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #443f44;
  border-radius: 50%;
  transition: var(--transition);
}
.social-media-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: var(--transition);
}
.social-media-footer:hover {
  background-color: var(--link-active-color);
}

svg.media {
  fill: #fff;
  transition: fill var(--transition);
}

svg.media:hover {
  background-color: var(--link-active-color);
}
footer .mail:hover,
.phone:hover {
  color: var(--link-active-color);
}

/* Modal window*/

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  padding: 10px;
  transition: var(--transition);
              visibility: var(--transition);
              opacity: var(--transition);
}

.close-button {
  text-align: right;
}

.modal p {
  font-size: 0.9rem;
  margin: 0.4rem 0 0.2rem;
}

.close-button {
  background: #eee;
  padding: 0 7px 0 7px;
  border: 1px solid #757575;
  border-radius: 50%;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
  transition: var(--transition);
              visibility: var(--transition);
              opacity: var(--transition);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
